.nav {
  background-color: #151515;
}
.nav .container{
  padding-top: 14px;
  padding-bottom: 5px;
}

.nav a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  
}

.nav li {
  padding: 0px 14px;
  display: inline;
}

.jumbotron {
  background-image:url('resources/966492.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jumbotron .container {
  padding-top: 200px;
  width: 1300px;
  height:600px;
  text-align: center;
  position: absolute;
  left: 0px;
  top:50px;
  background-color: rgba(20,20,20,0.5);

}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
.jumbotron a{
  font-size: 20px;
}

.neighborhood-guides{
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}